:root {
  --background-color: #222222;
  --text-color: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  color: var(--text-color);
}

header {
  height: 60px;
  background-color: var(--background-color);
}

ul > li {
    display: inline-block;
}

.hero {
    height: calc(100vh - 60px);
    background-color: rgb(41, 41, 41);
}

.container {

}