:root {
  --background-color: #222222;
  --text-color: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  color: var(--text-color);
}

header {
  height: 60px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
}

ul > li {
    display: inline-block;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    padding: 5px;
}

.hero {
    height: calc(100vh - 60px);
    background-color: rgb(41, 41, 41);
}

.call-to-action {
    height: 300px;
    width: 400px;
    background-color: gray;
}

.container {
    max-width: 1366px;
}